* {
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

html {
  font-family: "Karla", sans-serif;
  height: 100%;
}

body {
  overflow: scroll;
  background-color: hsl(204, 43%, 93%);
  font-size: 16px;
  height: 870px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .container {
  height: 722px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .container .box {
  width: 311px;
  padding-left: 22px;
  padding-right: 22px;
}
body .container #community {
  padding-top: 32px;
  background-color: white;
  border-radius: 5px 5px 0 0;
  height: 268px;
}
body .container #community #heading {
  color: hsl(179, 61%, 44%);
  margin-bottom: 30px;
  font-size: 1.25em;
  font-weight: 700;
}
body .container #community .money-back {
  color: hsl(71, 73%, 54%);
  font-weight: 700;
}
body .container #community .par {
  font-size: 0.85em;
  margin-top: 25px;
  color: hsl(218, 22%, 67%);
  line-height: 24px;
  font-weight: 400;
}
body .container #cost {
  padding-top: 26px;
  padding-bottom: 26px;
  background-color: hsl(179, 61%, 44%);
  height: 228px;
  color: white;
}
body .container #cost h2 {
  font-size: 1.2em;
  font-weight: 700;
  padding-bottom: 25px;
}
body .container #cost .price {
  display: flex;
  align-items: center;
  gap: 14px;
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 15px;
}
body .container #cost .price span {
  font-size: 0.45em;
  color: hsl(204, 43%, 93%);
  font-weight: 400;
}
body .container #cost .info {
  font-weight: 400;
  margin-bottom: 34px;
}
body .container #cost #sign {
  width: 263px;
  height: 48px;
  color: white;
  background-color: hsl(71, 73%, 54%);
  border-radius: 5px;
  border: transparent;
  font-size: 1.1em;
  font-weight: 700;
}
body .container #cost #sign:hover {
  cursor: pointer;
  background-color: hsla(71, 73%, 54%, 0.9);
}
body .container #cost #sign:active {
  background-color: hsla(71, 73%, 54%, 0.5);
}
body .container #why {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: hsl(179, 47%, 52%);
  border-radius: 0 0 5px 5px;
  height: 227px;
}
body .container #why h2 {
  color: white;
  font-weight: 700;
  font-size: 1.1em;
  margin-bottom: 27px;
}
body .container #why li {
  color: hsl(204, 43%, 93%);
  font-size: 0.9em;
}
body .container #why li:not(:last-child) {
  margin-bottom: 5px;
}

@media screen and (min-width: 1440px) {
  body {
    height: 100%;
  }
  .container {
    width: 635px;
    height: 475px !important;
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border-radius: 10px;
    box-shadow: 0px 0px 15px 1px lightgray;
  }
  .container .box {
    padding-left: 41px !important;
    padding-top: 45px !important;
  }
  .container #community {
    grid-column: 1/3;
    grid-row: 1/2;
    width: 100%;
    height: 216px !important;
    border-radius: 10px 10px 0 0 !important;
    padding-right: 80px !important;
  }
  .container #community .par {
    font-size: 1.13em;
    letter-spacing: 0.8px;
  }
  .container #cost {
    grid-column: 1/2;
    grid-row: 2/3;
    height: 259px !important;
    width: 100%;
    border-radius: 0 0 0 10px;
  }
  .container #cost h2 {
    font-size: 1.2em !important;
  }
  .container #cost .price {
    margin-bottom: 8px !important;
  }
  .container #cost .info {
    margin-bottom: 30px !important;
  }
  .container #cost #sign {
    width: 237px !important;
    height: 48px !important;
  }
  .container #why {
    width: 100%;
    height: 259px !important;
    border-radius: 0 0 10px 0 !important;
  }
  .container #why h2 {
    margin-bottom: 22px !important;
  }
}/*# sourceMappingURL=style.css.map */